/* src/components/TopBar.css */

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #3ACA6B; /* Your primary color */
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .topbar-content {
    display: flex;
    align-items: center;
  }
  
  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .user-name {
    font-size: 18px;
    font-weight: bold;
    margin-right: 20px;
  }
  
  .sign-out-button {
    background-color: #f44336; /* Red color for the sign-out button */
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .sign-out-button:hover {
    background-color: #d32f2f; /* Darker red on hover */
  }
  